@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 min-h-screen select-none;
    /* Added select-none */
  }
}

/* Allow selection in inputs and textareas */
input,
textarea,
[contenteditable="true"] {
  @apply select-text;
}

/* Force hidden google translate bar if it appears */
.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}