@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 min-h-screen select-none;
    /* Added select-none */
  }
}

/* Allow selection in inputs and textareas */
input,
textarea,
[contenteditable="true"] {
  @apply select-text;
}

/* Force hidden google translate bar if it appears */
.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}

/* Hide numbers input arrows */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}